<h3>All Posts</h3>

{{> success-fail}}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Post Pic</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Created Date</th>
            <th>View Post</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>
                {{#startsWith file 'http'}}
                <img height="50" class="img-responsive" src="{{file}}" alt="" />
                {{else}}
                <img height="50" class="img-responsive" src="/uploads/{{file}}" alt="" />
                {{/startsWith}}
            </td>
            <td>{{title}}</td>
            <td>{{category.name}}</td>
            <td>{{status}}</td>
            <td>{{allowComments}}</td>
            <td>{{#getDateInFormat date 'DD MMM YYYY, hh:mm a'}}{{/getDateInFormat}}</td>
            <td><a href="/post/{{slug}}">View Post</a></td>
            <td><a href="/admin/posts/edit/{{id}}" class='btn btn-info'>Edit</a></td>
            <td><a href="/admin/posts/delete/{{id}}" class='btn btn-danger' data-toggle='modal' data-target='#deleteModal'
                    data-id="{{id}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id='deleteModal' role='dialog'>
    <div class="modal-dialog">
        <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete a post?</p>
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-default' data-dismiss="modal">Cancel</button>
                <button type='button' class='btn btn-danger' data-dismiss="modal" id='deleteButton'>Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('a[data-toggle=modal]').click(function () {
            $('#deleteButton').attr('data-id', $(this).data('id'));
        })
    });

    $(function () {
        $('#deleteButton').click(function () {
            var my_id_value = $(this).data('id');
            location.href = "/admin/posts/delete/" + my_id_value;
        })
    });
</script>